@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Press+Start+2P&display=swap");
$white: #fcfcfc;
$black: #0c0c0c;
$red: #b35e5e;
$blue1: #d0d7ff;
$blue2: #3a63b2;
$blue3: #20207d;
$blue4: #030c2d;

* {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono";
  color: $white;
}

#main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("./assets/bg.svg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: relative;
  padding: 32px 0;
}

::selection {
  background-color: $white;
  color: $blue4;
}

.title1 {
  color: $blue4;
  font-family: "Press Start 2P";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &::selection {
    background-color: $blue4;
    color: $white;
  }
}

.title2 {
  color: $white;
  font-family: "Press Start 2P";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text1 {
  color: $white;
  font-family: "Martian Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2 {
  color: $white;
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}

.textRed {
  color: var(--Red, #b35e5e);
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button1 {
}

.swapWrapper {
  width: 540px;
  padding: 24px 32px;
  border-radius: 6px;
  border: 1px solid var(--Brand_White, #fcfcfc);
  background: var(--Blue4, #030c2d);
}


.button1 {
  position: relative;
  border: none;
  background-color: transparent;
  .outer{
    width: 100%;
    height: 100%;         // establish stacking context
    z-index: 2;
    position: relative;
    background-color: $blue2;
    color: $white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
  }
  .inner {
    position: absolute;
    top: 5px;
    left: 0;
    width:  100%;
    height: 100%;
    background-color: #b35e5e;
    border-radius: 6px;
    z-index: 1;            // 🡸 puts it below the button’s background
  }
  &:active{
    .inner{
      width: 100%;
      height: 100%;         // establish stacking context
      z-index: 2;
      position: relative;
      background-color: $blue2;
      color: $white;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
    }
    .outer {
      position: absolute;
      top: 5px;
      left: 0;
      width:  100%;
      height: 100%;
      background-color: #b35e5e;
      border-radius: 6px;
      z-index: 1;            // 🡸 puts it below the button’s background
    } 
  }
}
