@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Martian Mono";
  color: #fcfcfc; }

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: visible;
  background-image: url("./assets/bg.mp4");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; }

nav {
  position: relative;
  padding: 32px 0; }

::selection {
  background-color: #fcfcfc;
  color: #030c2d; }

.title1 {
  color: #030c2d;
  font-family: "Press Start 2P";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
  .title1::selection {
    background-color: #030c2d;
    color: #fcfcfc; }

.title2 {
  color: #fcfcfc;
  font-family: "Press Start 2P";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.text1 {
  color: #fcfcfc;
  font-family: "Martian Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.text2 {
  color: #fcfcfc;
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; }

.textRed {
  color: var(--Red, #b35e5e);
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; }

.swapWrapper {
  width: 540px;
  padding: 24px 32px;
  border-radius: 6px;
  border: 1px solid var(--Brand_White, #fcfcfc);
  background: var(--Blue4, #030c2d); }

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1350px; } }
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1550px; } }
@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 90vw; } }
.button1 {
  position: relative;
  border: none;
  background-color: transparent;
  filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.45)); }
  .button1 .outer {
    width: 318px;
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: #3a63b2;
    color: #fcfcfc;
    border: none;
    padding: 16px 0 11px 0;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px #0c0c0c, inset 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--Brand_White, #fcfcfc);
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; }
    .button1 .outer::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 6px;
      right: 6px;
      height: 2px;
      background: #d0d7ff;
      border-radius: 1px;
      z-index: 3; }
  .button1 .inner {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20207d;
    border-radius: 3px;
    z-index: 1;
    box-shadow: inset 0 0 0 2px #0c0c0c, inset 0 2px 4px rgba(0, 0, 0, 0.1); }
  .button1:hover .inner {
    background-color: #20207d; }
  .button1:hover .outer {
    background-color: #2040ed;
    color: #0c0c0c; }
  .button1:hover.swap .outer {
    padding: 16px; }
    .button1:hover.swap .outer svg path {
      stroke: #0c0c0c; }
  .button1:active .inner {
    top: 0px;
    background-color: #030c2d; }
  .button1:active .outer {
    top: 5px;
    background-color: #20207d; }
    .button1:active .outer::before {
      display: none; }
  .button1.active .inner {
    top: 0px;
    background-color: #030c2d !important; }
  .button1.active .outer {
    top: 5px;
    color: #fcfcfc !important;
    background-color: #20207d !important; }
    .button1.active .outer::before {
      display: none; }
  .button1.swap .outer {
    padding: 16px;
    width: auto; }
  .button1.percentage {
    width: 100%; }
    .button1.percentage .outer {
      width: 100%;
      padding: 16px 0 10px 0;
      background-color: #2040ed;
      color: #fcfcfc;
      border-radius: 0px;
      box-shadow: inset 0 0 0 2px #0c0c0c, inset 0 2px 4px rgba(0, 0, 0, 0.1);
      color: var(--Blue4, #030c2d);
      text-align: center;
      font-family: "Press Start 2P";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase; }
      .button1.percentage .outer::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 3px;
        right: 3px;
        height: 3px;
        background: #d0d7ff;
        border-radius: 0px;
        z-index: 3; }
    .button1.percentage .inner {
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #20207d;
      border-radius: 0px;
      z-index: 1;
      box-shadow: inset 0 0 0 2px #0c0c0c, inset 0 2px 4px rgba(0, 0, 0, 0.1); }
    .button1.percentage:hover .inner {
      background-color: #20207d; }
    .button1.percentage:hover .outer {
      background-color: #3a63b2;
      color: #fcfcfc; }
    .button1.percentage:active .inner {
      top: 0px;
      background-color: #030c2d; }
    .button1.percentage:active .outer {
      top: 5px;
      background-color: #20207d; }
      .button1.percentage:active .outer::before {
        display: none; }
    .button1.percentage.first .inner {
      border-radius: 4px 0px 0px 4px; }
    .button1.percentage.first .outer {
      border-radius: 4px 0px 0px 4px; }
    .button1.percentage.last .inner {
      border-radius: 0px 4px 4px 0px; }
    .button1.percentage.last .outer {
      border-radius: 0px 4px 4px 0px; }

.dropdown .dropdown-toggle {
  background-image: url("./assets/dropdown.svg");
  border: none;
  outline: none;
  box-shadow: none;
  width: 153px;
  height: 49px;
  display: flex;
  justify-content: start;
  flex-shrink: 0;
  padding: 12px 8px 0 8px;
  color: var(--Brand_White, #fcfcfc);
  font-family: "Press Start 2P";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; }
  .dropdown .dropdown-toggle:active {
    box-shadow: none; }
  .dropdown .dropdown-toggle::after {
    content: "";
    position: absolute;
    background-image: url("./assets/dropdown3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    box-shadow: none;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    width: 30px;
    height: 49px;
    filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.45)); }
  .dropdown .dropdown-toggle:hover::after {
    background-image: url("./assets/dropdown4.svg"); }
  .dropdown .dropdown-toggle.show::after {
    background-image: url("./assets/dropdown5.svg"); }
.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none; }
  .dropdown .dropdown-menu .list {
    width: 94%;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden; }
    .dropdown .dropdown-menu .list::-webkit-scrollbar {
      width: 10px; }
    .dropdown .dropdown-menu .list::-webkit-scrollbar-track {
      background: #030c2d;
      border-radius: 0px; }
    .dropdown .dropdown-menu .list::-webkit-scrollbar-thumb {
      background: #2040ed;
      border-radius: 0px; }
  .dropdown .dropdown-menu li {
    background-image: url("./assets/dropdown2.svg");
    border: none;
    outline: none;
    box-shadow: none;
    padding: 13px 8px 0 8px !important;
    width: 153px;
    height: 45px;
    display: flex;
    justify-content: start;
    flex-shrink: 0;
    cursor: pointer; }
    .dropdown .dropdown-menu li.search {
      padding: 8px 8px 0 8px !important;
      display: flex;
      align-items: center; }
      .dropdown .dropdown-menu li.search input[type="text"] {
        background-color: transparent;
        width: 100%;
        height: auto;
        outline: none;
        box-shadow: none;
        border: none;
        color: var(--Brand_White, #fcfcfc);
        font-family: "Press Start 2P";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 2;
        text-transform: uppercase; }
        .dropdown .dropdown-menu li.search input[type="text"]:active {
          background-color: transparent;
          outline: none;
          box-shadow: none;
          border: none; }
        .dropdown .dropdown-menu li.search input[type="text"]::placeholder {
          color: #fcfcfc; }
    .dropdown .dropdown-menu li span {
      color: var(--Brand_White, #fcfcfc);
      font-family: "Press Start 2P";
      padding: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 2; }
      .dropdown .dropdown-menu li span:hover {
        background-color: transparent; }
    .dropdown .dropdown-menu li:hover {
      background-image: url("./assets/dropdown2.svg"); }
    .dropdown .dropdown-menu li:active, .dropdown .dropdown-menu li:focus, .dropdown .dropdown-menu li:hover {
      background-color: transparent;
      outline: none;
      box-shadow: none;
      border: none; }

footer {
  margin-top: 48px;
  margin-bottom: 40px; }

/*# sourceMappingURL=app.css.map */
